* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.sekcja1 {
    background-color: #ce6a6b;
    height: 70vh;
}

.sekcja2 {
    background-color: #ebaca2;
    height: 500px;

}

.sekcja3 {
    background-color: #4a919e;
    height: 1190px;
}

.sekcja4 {
    background-color: #212e53;
    height: 150vh;
}

.info {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    box-shadow: 0 0 3px 3px grey;
    background-color: rgb(200, 200, 200);
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
}